* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.item {
    /* display: inline-block; */
    /* чтобы скрыть блоки */
    /* display: none; */
    flex-basis: 100px;
    height: 100px;
    background: burlywood;
    padding: 10px;
    border: 6px solid red;
    margin: 10px;
}

/* 
.item:nth-child(2) {
    order: 1;
    flex-basis: 50px;
    height: 50px;
    align-self: flex-start;
}

.item:nth-child(3) {
    order: 2;
    flex-basis: 80px;
    height: 80px;
    align-self: flex-end;
} */

/* 
.item:last-child {
    width: 80px;
    height: 80px;
} */

/* .box:not(:last-child) {
    background: gold;
} */

/* .box:nth-child(3),
.box:nth-child(4) {
    background: gold;
} */

/* .box:nth-child(even) {
    background: gold;
} */

/* .box:nth-child(2n+3) {
    background: gold;
} */